.carousel-item {
    transition: transform 0.2s ease-out; /* Adjust speed of transition */
  }
  
  .carousel-inner img {
    background-color: black; /* Set background color to avoid white flashes */
  }
  .menslider{
    width: 1200px;
    background-color: #fff;
  }
